@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;

}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
 main {
    background-color: rgba(255, 255, 255, 0.696);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    
 }

 h1 {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
 }
  img {
    margin: auto;
  }

 img#phone{ display:block;}

 img#tablet { display: none; }

 img#print{ display: none; }

 img#pc{ display: none; }

 img#tv{ display: none; }